*.o
*.elf

#Can be downloaded from http://littleosbook.github.com/files/stage2_eltorito
#Should be placed in the iso/boot/grub
stage2_eltorio

#For files related to bochs
*.txt

#Executable disk image
*.iso